<!DOCTYPE html>
<html>
	<head th:replace="fragments :: html_head"/>
		<body>
			<div th:replace="fragments :: header">
			</div>
			<div>
				<div id="aboutus" ><h1 style="text-align:center">About Us</h1></div>
			</div>
			<div>
				<p style="text-align:center">
					Destiny Upholstery is a creative, innovative and 21st Century outfit. We are dedicated in what we create.<br>
					We create it for your satisfaction and for full value of your money. Just place an order and let us get your, <br>
					job done like you dreamt of it.
				</p>
			</div>
			<!-- Vendor Start -->
		    <div class="container-fluid py-5">
		        <div class="row px-xl-5">
		            <div class="col">
		                <div class="owl-carousel vendor-carousel">
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-1.jpg" alt="">
		                    </div>
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-2.jpg" alt="">
		                    </div>
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-3.jpg" alt="">
		                    </div>
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-4.jpg" alt="">
		                    </div>
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-5.jpg" alt="">
		                    </div>
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-6.jpg" alt="">
		                    </div>
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-7.jpg" alt="">
		                    </div>
		                    <div class="vendor-item border p-4">
		                        <img src="img/vendor-8.jpg" alt="">
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Vendor End --> 
		
		    <!-- Back to Top -->
		    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
		
			<div th:replace="fragments :: footer">
			</div>
		    <!-- JavaScript Libraries -->
		    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
		    <script src="lib/easing/easing.min.js"></script>
		    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
		
		    <!-- Contact Javascript File -->
		    <script src="mail/jqBootstrapValidation.min.js"></script>
		    <script src="mail/contact.js"></script>
		
		    <!-- Template Javascript -->
		    <script src="js/main.js"></script>

		</body>
</html>