<!DOCTYPE html>
<html>
<head th:fragment="html_head">
<meta charset="utf-8">
        <title>Destiny Upholstery</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Destiny Upholstery" name="keywords">
        <meta content="Destiny Upholstery" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="libs/slick/slick-theme.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        		
        <!-- Libraries Stylesheet -->
    	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        
        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div th:fragment="header">
		
		<div class="wrapper">
            <!-- Header Start -->
            <div class="header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xs-1">
                            <div class="brand">
                                <a href="index">
                                    <img src="img/logofy.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="topbar">
                                <div class="topbar-col">
                                    <a href="tel:+27 71 962 6722"><i class="fa fa-phone-alt"></i>+27 71 962 6722</a>
                                </div>
                                <div class="topbar-col">
                                    <a href="mailto:luxymlanga@gmail.com"><i class="fa fa-envelope"></i>luxymlanga@gmail.com</a>
                                </div>                              
                            </div>
                       </div>
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        <a href="index" class="nav-item nav-link ">Home</a>
                                        <a href="about" class="nav-item nav-link">About Us</a>
                                        <a href="products" class="nav-item nav-link">Products</a>                                        
                                        <a href="contact" class="nav-item nav-link">Contact Us</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	
	<div th:fragment="footer">
		<!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-9">
                        <h2>Get A Free Quote of Our Products</h2>
                        <p>
                            Your satisfaction is our top most priority!
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a class="btn" href="contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
            <!-- Call to Action End -->
		<div class="footer" >
                <div class="container" style="background-color:#e8d4c1;">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="footer-about">
                                <h2>Find Us</h2>
                                <p>
                                    4644 Equardor Avenue<br>
                                    Cosmo City Randburg <br>
                                    South Africa 
                                </p>
                                <br>
                                
                                <p><i class="fa fa-phone-alt"></i>+27 71 962 6722</p>
                                <p><i class="fa fa-envelope"></i>luxymlanga@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="footer-link">
                                        <h2>Useful Link</h2>
                                        <a href="about">About Us</a><br>
                                        <a href="services">Our Products</a><br>
                                        <a href="contact">Contact Us</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="">Destiny Upholstery</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Web Developed By <a href="https://bobsumtech.herokuapp.com/contact">Bobsum Tech Solutions</a>, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
	</div>
	
</body>
</html>
